USE [master]
GO
/****** Object:  Database [DapperDB]    Script Date: 22/07/2020 13:04:00 ******/
CREATE DATABASE [DapperDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DapperDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\DapperDB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DapperDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\DapperDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DapperDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DapperDB]
GO
/****** Object:  StoredProcedure [dbo].[EmployeeAddOrEdit]    Script Date: 22/07/2020 13:04:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[EmployeeAddOrEdit]
@EmployeeID int,
@Name varchar(50),
@Position varchar(50),
@Age int,
@Salary int

AS

	IF @EmployeeID = 0
		INSERT INTO Employee(Name, Position, Age, Salary)
		VALUES (@Name, @Position, @Age, @Salary)
	ELSE
		UPDATE Employee
		SET
		Name = @Name,
		Position = @Position,
		Age = @Age,
		Salary = @Salary
		WHERE EmployeeID = @EmployeeID
GO
/****** Object:  StoredProcedure [dbo].[EmployeeDeleteByID]    Script Date: 22/07/2020 13:04:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[EmployeeDeleteByID]
@EmployeeID int
AS

		
		DELETE FROM Employee
		WHERE EmployeeID = @EmployeeID

GO
/****** Object:  StoredProcedure [dbo].[EmployeeViewAll]    Script Date: 22/07/2020 13:04:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[EmployeeViewAll]
AS

	SELECT *
	FROM Employee
GO
/****** Object:  StoredProcedure [dbo].[EmployeeViewByID]    Script Date: 22/07/2020 13:04:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[EmployeeViewByID]
@EmployeeID int
AS

		SELECT *
		FROM Employee
		WHERE EmployeeID = @EmployeeID

GO
/****** Object:  Table [dbo].[Employee]    Script Date: 22/07/2020 13:04:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Employee](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Position] [varchar](50) NULL,
	[Age] [int] NULL,
	[Salary] [int] NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
